:root {
  --input-background: rgba(235, 235, 235, 0.3);
  --input-placeholder-text: #30384C;
  --button-text-color: #192646;
  --text-color: #898989;
  --text-description-color: rgba(0, 0, 0, 0.6);
  --video-text-color: #C2C2C2;
  --line-color: #D8D8D880;
  --border-color: #F1F1F1;
  --background-color: rgba(0, 0, 0, 0.3);
  --accent-color: #FF0000;
  --accent-text-color: #FFFFFF;
  --switch-color: #2196F3;
}