@use "../../styles/colors" as *;
@use "../../styles/typography" as *;

.main {
  grid-area: main;

  .mainContainer {
    margin-left: 5em;
    width: 90%;

    h1 {
      margin-bottom: 0;
      font-size: $font-size-title;
    }

    .mainVideo {
      width: 100%;
      border-radius: 14px;

      &:last-of-type {
        display: none;
      }
    }

    p {
      color: $video-text-color;
      font-size: $font-size-xxl;
      margin-top: 0;
    }

    .videoTitle {
      display: flex;
      justify-content: space-between;

      button {
        display: none;
      }
    }

    .videoStatsContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 2em;

      .videoStats {
        display: flex;
        justify-content: space-between;

        button:not(:last-child) {
          background-color: $input-background;
          padding: 0.5em 1em;
          border-radius: 20px;
          margin-right: 1em;
          color: $button-text-color;

          svg {
            margin-right: 0.5em;
          }
        }
      }

      &::after {
        content: '';
        display: block;
        height: 1px;
        background-color: rgba($line-color, 0.5);
      }
    }

    .videoDescription {
      display: flex;
      gap: 1em;

      img {
        width: 80px;
        height: 80px;
      }

      .description {
        h2 {
          margin: 0;
        }

        span {
          display: none;
        }

        p {
          font-size: $font-size-s;
        }

        p:last-of-type {
          font-size: $font-size-base;
          color: rgba($text-description-color, 0.6);
        }

        button {
          padding: 0;
          font-size: $font-size-xxl;
          color: $video-text-color;
        }
      }

      .subscribe {

        button {
          color: $accent-text-color;
          text-align: center;
          background-color: $accent-color;
          border-radius: 20px;
          width: 150px;
          padding: 0.5em 1em;

          &:last-child {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .main {
    .mainContainer {
      margin: 1em 0 0 0;
      width: 100vw;

      .mainVideo {
        border-radius: 0;

        &:first-of-type {
          display: none;
        }

        &:last-of-type {
          display: inline-block;
        }
      }

      .videoTitle {
        display: flex;
        justify-content: space-between;
        margin: 0 0.5em;

        h1 {
          margin: 0 0.5em;
          font-size: $font-size-xl;
        }

        button {
          display: block;
        }
      }

      .videoStatsContainer {
        margin: 0 1em 1em 1em;

        .videoStats {
          flex-direction: column;

          p {
            margin: 0 0 2em;
            font-size: $font-size-s;
          }

          div {
            display: flex;
            align-items: center;
            height: 40px;
          }

          button {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:last-child {
              display: none;
            }

            &:not(:last-child) {
              margin-right: 0.5em;
            }
          }
        }

        &::after {
          margin-top: 1em;
        }
      }

      .videoDescription {
        margin: 0 0.5em;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
        }

        .description p, button {
          display: none;
        }

        .description {
          display: flex;
          flex-direction: column;

          h2 {
            display: block;
            font-size: $font-size-base;
          }

          span {
            display: block;
            color: $video-text-color;
            font-size: $font-size-s;
          }
        }

        .subscribe {
          button {
            width: 100%;
            margin-left: 2em;

            &:last-child {
              display: flex;
              background: none;
              color: $accent-color;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
  .main {
    .mainContainer {
      margin: 0 auto;
    }
  }
}