.main {
  grid-area: main;
}
.main .mainContainer {
  margin-left: 5em;
  width: 90%;
}
.main .mainContainer h1 {
  margin-bottom: 0;
  font-size: 2rem;
}
.main .mainContainer .mainVideo {
  width: 100%;
  border-radius: 14px;
}
.main .mainContainer .mainVideo:last-of-type {
  display: none;
}
.main .mainContainer p {
  color: var(--video-text-color);
  font-size: 1.6rem;
  margin-top: 0;
}
.main .mainContainer .videoTitle {
  display: flex;
  justify-content: space-between;
}
.main .mainContainer .videoTitle button {
  display: none;
}
.main .mainContainer .videoStatsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.main .mainContainer .videoStatsContainer .videoStats {
  display: flex;
  justify-content: space-between;
}
.main .mainContainer .videoStatsContainer .videoStats button:not(:last-child) {
  background-color: var(--input-background);
  padding: 0.5em 1em;
  border-radius: 20px;
  margin-right: 1em;
  color: var(--button-text-color);
}
.main .mainContainer .videoStatsContainer .videoStats button:not(:last-child) img {
  margin-right: 0.5em;
}
.main .mainContainer .videoStatsContainer::after {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--line-color);
}
.main .mainContainer .videoDescription {
  display: flex;
  gap: 1em;
}
.main .mainContainer .videoDescription img {
  width: 80px;
  height: 80px;
}
.main .mainContainer .videoDescription .description h2 {
  margin: 0;
}
.main .mainContainer .videoDescription .description span {
  display: none;
}
.main .mainContainer .videoDescription .description p {
  font-size: 0.8rem;
}
.main .mainContainer .videoDescription .description p:last-of-type {
  font-size: 1rem;
  color: var(--text-description-color);
}
.main .mainContainer .videoDescription .description button {
  padding: 0;
  font-size: 1.4rem;
  color: var(--video-text-color);
}
.main .mainContainer .videoDescription .subscribe button {
  color: var(--accent-text-color);
  text-align: center;
  background-color: var(--accent-color);
  border-radius: 20px;
  width: 150px;
  padding: 0.5em 1em;
}
.main .mainContainer .videoDescription .subscribe button:last-child {
  display: none;
}

@media screen and (max-width: 576px) {
  .main .mainContainer {
    margin: 1em 0;
    width: 100vw;
  }
  .main .mainContainer .mainVideo {
    border-radius: 0;
  }
  .main .mainContainer .mainVideo:first-of-type {
    display: none;
  }
  .main .mainContainer .mainVideo:last-of-type {
    display: inline-block;
  }
  .main .mainContainer .videoTitle {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5em;
  }
  .main .mainContainer .videoTitle h1 {
    margin: 0 0.5em;
    font-size: 1.3rem;
  }
  .main .mainContainer .videoTitle button {
    display: block;
  }
  .main .mainContainer .videoStatsContainer {
    margin: 0 1em 1em 1em;
  }
  .main .mainContainer .videoStatsContainer .videoStats {
    flex-direction: column;
  }
  .main .mainContainer .videoStatsContainer .videoStats p {
    margin: 0 0 2em;
    font-size: 0.8rem;
  }
  .main .mainContainer .videoStatsContainer .videoStats div {
    display: flex;
    align-items: center;
    height: 40px;
  }
  .main .mainContainer .videoStatsContainer .videoStats button {
    display: flex;
    align-items: center;
  }
  .main .mainContainer .videoStatsContainer .videoStats button:last-child {
    display: none;
  }
  .main .mainContainer .videoStatsContainer::after {
    margin-top: 1em;
  }
  .main .mainContainer .videoDescription {
    margin: 0 0.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .main .mainContainer .videoDescription img {
    width: 50px;
    height: 50px;
  }
  .main .mainContainer .videoDescription .description p, .main .mainContainer .videoDescription button {
    display: none;
  }
  .main .mainContainer .videoDescription .description {
    display: flex;
    flex-direction: column;
  }
  .main .mainContainer .videoDescription .description h2 {
    display: block;
    font-size: 1rem;
  }
  .main .mainContainer .videoDescription .description span {
    display: block;
    color: var(--video-text-color);
    font-size: 0.8rem;
  }
  .main .mainContainer .videoDescription .subscribe button {
    width: 100%;
    margin-left: 2em;
  }
  .main .mainContainer .videoDescription .subscribe button:last-child {
    display: flex;
    background: none;
    color: var(--accent-color);
    padding: 0;
  }
}

/*# sourceMappingURL=Main.module.css.map */
