@use '../../styles/_colors' as *;
@use '../../styles/typography' as *;

.sidebar {
  grid-area: sidebar;

  .sidebarContainer {
    max-width: 370px;

    .play {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        margin: 0;
        font-size: $font-size-title;
      }

      p {
        text-transform: uppercase;
      }

      div {
        display: flex;
        align-items: center;
        gap: 1em;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }

      input {
        display: none;

        &:checked + span:before {
          transform: translateX(26px);
          background-color: $switch-color;
        }
      }

      span {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($input-background, 0.3);
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;

        &:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: rgba($text-description-color, 0.6);
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 50%;
        }
      }
    }

    .videos {
      display: flex;
      flex-direction: column;
      gap: 3em;

      .video {
        position: relative;
        cursor: pointer;

        span {
          position: absolute;
          right: 1rem;
          bottom: 5rem;
          display: flex;
          justify-content: center;
          color: $accent-text-color;
          font-size: $font-size-s;
          background-color: rgba($background-color, 0.3);
          border-radius: 12px;
          padding: 0.25em;
          width: 47px;
        }

        img {
          width: 100%;
        }

        h2 {
          margin: 0;
        }

        div {
          display: flex;
          justify-content: space-between;

          p {
            color: $video-text-color;
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .sidebar {
    .sidebarContainer {
      margin: 2em 1em 2em 1em;
      width: 90vw;

      .play {
        h2 {
          font-size: $font-size-l;
        }

        p {
          font-size: $font-size-s;
        }

        .switch {
          width: 50px;
          height: 22px;

          span {
            &:before {
              height: 16px;
              width: 16px;
            }
          }
        }
      }

      .videos {
        margin-bottom: 5em;

        .video {
          width: 90vw;

          span {
            right: 0.5em;
            bottom: 4.5em;
          }

          h2 {
            font-size: $font-size-base;
            margin: 0;
          }

          div {
            display: flex;
            justify-content: space-between;
          }

          img {
            width: 90vw;
          }

          p {
            font-size: $font-size-s;
          }
        }
      }

      &::before {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background-color: rgba($line-color, 0.5);
      }
    }
  }
}

@media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
  .sidebar {
    .sidebarContainer {
      margin: 2em auto;
      max-width: 60%;

      &::before {
        position: absolute;
        content: '';
        display: block;
        height: 1px;
        right: 5%;
        width: 90vw;
        background-color: rgba($line-color, 0.5);
      }
    }
  }
}